.deskbooking__container{
    padding: 3rem 0;
    background-color: #0788BB;
}

.deskbooking__action-icon{
    width: 75px;
    height: 75px;
}

.deskbooking__image{
    width: 150px;
    height: 50px;
}

.deskbooking__login-row{
    padding: 6rem 0;
}

.deskbooking__userSession-row{
    padding: 6rem 0;
    height: 100%;
}

.deskbooking__user-bookings{
    height: 100%;
    overflow: scroll;
}

.deskbooking__login-text{
    margin: 1rem 0;
    color: #FBB429;
    font-size: 2rem;
}

.deskbooking__login-input{
    margin: 0.5rem 0;
}

.deskbooking__login-input-box{
    height: 4rem;
    padding: 0 3rem;
    font-size: 2rem;
    letter-spacing: 3px;
    box-shadow: 6px 6px 6px 2px #0a0a0a80;
}

.deskbooking__login-credentials{
    width: 95%;
}

.deskbooking__login-enter{
    margin: 3rem 0;
}

.deskbooking__user-addbooking{
    text-align: center;
    margin: auto;
}

.deskbooking__button{
    font-size: 3rem;
    padding: 3rem;
    font-weight: bold;
    color: $deskbooking-logo-pink;
}

.deskbooking__myBookings-title{
    color: $deskbooking-logo-pink;
}

.deskbooking__myBookings-title-span{
    margin-right: 0.5rem;
}

.deskbooking__myBookings-heading{
    color: $deskbooking-logo-yellow;
}

.deskbooking__myBookings-text{
    color: $deskbooking-logo-teal;
}

.deskbooking__myBookings-active{
    background-color:#f7f7f7;
    transform: scale( 1.01 );
}

.deskbooking__myBookings-footer{
    color: $deskbooking-logo-grey;
}

.deskbooking__availableDesks-item{
    color: $deskbooking-logo-grey;

    &.active__desk{
        transform: scale( 1.01 );
        background-color:#f7f7f7;
    }

}

.deskbooking__availableDesks-heading{
    &.active__desk{
        color: $deskbooking-logo-yellow;
        margin-bottom: 1rem;
    }
}

.deskbooking__availableDesks-text{
    &.active__desk{
        color: $deskbooking-logo-teal;
    }
}

.deskbooking__availableDesks-footer-text{
    &.active__desk{
        font-weight: bold;
    }
}

.deskbooking__booknow-button{
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.deskbooking__modal-body{
    width: 100%;
}

.deskbooking__form{
    width: 50%;
}

.deskbooking__form-input{
    height: 5rem !important;
    font-size: 2rem !important;
    border: 1px solid $deskbooking-logo-teal;
    border-radius: .25rem;
    padding-left: 1rem;
    color: $deskbooking-logo-grey;
}

.deskbooking__form-text{
    font-size: 2rem !important;
}

.react-datepicker__day{
    width: 3rem;
    line-height: 3rem;
}

.react-datepicker__time-list{
    padding: 0;
}

.deskbooking__list-group{
    min-height: 100%;
    background-color: white;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .deskbooking__login-text{
        margin: 2rem 0;
        font-size: 4rem;
    }

    .deskbooking__login-input{
        margin: 1rem 0;
    }
    
    .deskbooking__login-input-box{
        height: 6rem;
        font-size: 3rem;
    }
}
/* Large devices and tabs (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .deskbooking__button{
        font-size: 3.5rem;
        padding: 3rem;
    }
} 

/* Just for mobile*/
@media only screen and (max-width: 767px) {
  
    .deskbooking__container, .deskbooking__content-section{
        max-height: unset !important;
        height: unset !important;
    }

    .deskbooking__user-bookings{
        margin-bottom: 2rem;
    }

}